
/*tags*/

body{
    min-width: 1440px;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
}

/*Class*/

.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.input_formulario{
    height: 20%;
    width: 80%;
    font-size: 15px;
    color: rgb(0, 0, 0, 0.8);
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
}

.imagen_c{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Ids*/

#contenedor_carrusel{ 
    width: 1000px;
    height: 600px;
}

#formulario{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px rgb(39, 143, 39) solid;
    border-radius: 15px;
    background-color: rgb(145, 255, 145);
}

#logo{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    border: black 3px solid;
    margin-top: 100px;
}

#formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 45%;
    width: 65%;
}
