/*Tags*/
body{
    min-width: 1440px;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

header{
    width: 100%;
    height: 380px;
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45)),url("General_imgs/banner-sena.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

article{
    width: 90%;
    height: 35%;
    margin-top: 80px;
    background-color: yellow;
}

aside{
    width: 90%;
    height: 90%;
    background-color: orange;
    margin-top: 40px;
}

footer{
    width: 100%;
    height: 30vh;
    background-color: gray;
}

/*Ids*/
#mainiz{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

#contenedor_carrusel{
    width: 80%;
    height: 50%;
    margin-top: 20px;
    align-content: center;
}

#mainder{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
}